{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
	<!-- Team Section -->
	<input id="label" type="hidden" value="11" />
	<div class="team-section spad">
		<div class="overlay"></div>
		<div class="container">
			<div class="section-title">
				<h2>Controle</h2>
			</div>
			<div class="row">
              <div id="basic" style="text-align:center;">
                  <div class="row">
                      
                      <div class="col-md-12" style="">
                          <canvas id="myCanvas" style="width:80%; object-fit:contain;border:1px solid #000000;"></canvas>
                      </div>
    
                  </div>
                   <div class="" id="down-control">
          				<div class="col-sm-12">
                              <video class="videostream man-video" autoplay="" style="width:200px; object-fit:contain"></video>
                        </div>    
          			</div>
                      <div class="text-center">
          				    <p><button class="capture-button site-btn text-center">Iniciar</button>
          			        <button id="stop-control" class="site-btn text-center">Stop</button>
      				  </p>
      				</div>
              </div>
			</div>
		</div>
	</div>

</body>

{% endblock %}
{% block script %}
<script>
var fiveMinutes = 5;
var imageCapture;
var images = [];

const video = document.querySelector('#basic video');
const captureVideoButton = document.querySelector('#basic .capture-button');
const x = null;
const fd = new FormData();

$(document).ready(function(){
    
    var display = document.querySelector('#stop-control');
    
    $('#next').hide();
    $("#again").hide();
    
    $( ".item-menu" ).removeClass( "active" );
    $( ".menu-treino" ).addClass( "active" );
    $('#stop-control').hide();
   
    $('.capture-button').on('click', function (e) { 
       console.log("log capture click");
       
        $('.videostream').show();
        $('.capture-button').show();
        $('#stop-control').show();
        $('#next').hide();  
       
        startTimerBotao(fiveMinutes, display);
    });  
    
});

function handleError(error) {
  console.error('navigator.getUserMedia error: ', error);
}
const constraints = {video: true};

(function() {
  const video = document.querySelector('#basic video');
  const captureVideoButton = document.querySelector('#basic .capture-button');
  let localMediaStream;

  function handleSuccess(stream) {
    localMediaStream = stream;
    video.srcObject = stream;
  }

  captureVideoButton.onclick = function() {
    navigator.mediaDevices.getUserMedia(constraints).
      then(handleSuccess).catch(handleError);
  };

  document.querySelector('#stop-control').onclick = function() {
    video.pause();
    localMediaStream.stop();
  };
})();

(function() {
  const captureVideoButton =
    document.querySelector('#screenshot .capture-button');
  const screenshotButton = document.querySelector('#screenshot-button');
  const img = document.querySelector('#screenshot img');
  const video = document.querySelector('#screenshot video');

  const canvas = document.createElement('canvas');

  captureVideoButton.onclick = function() {
    navigator.mediaDevices.getUserMedia(constraints).
      then(handleSuccess).catch(handleError);
  };

  screenshotButton.onclick = video.onclick = function() {
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;
    canvas.getContext('2d').drawImage(video, 0, 0);
    // Other browsers will fall back to image/png
    img.src = canvas.toDataURL('image/webp');
  };

  function handleSuccess(stream) {
    screenshotButton.disabled = false;
    video.srcObject = stream;
  }
})();

 
</script>
{% endblock %}